$colorDefault: #222;
$fontSizeDefault: 0.9375vw;

html,
body {
	font-size: $fontSizeDefault;
	color: $colorDefault;
	background-color: #f0f2f5;
}
:root {
	--el-aside-width: 10.4167vw; // 侧边菜单宽度
	--el-menu-text-color: #efefef;
}
.scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: 0;
	-ms-overflow-style: none;
}
.ellipsis1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ellipsis3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.ellipsis4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
input:focus {
	border: none;
}